<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>face_id</key>
		<string>tu_001</string>
		<key>face_name</key>
		<string>tu_001_cover</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>tu_002</string>
		<key>face_name</key>
		<string>tu_002_cover</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>tu_003</string>
		<key>face_name</key>
		<string>tu_003_cover</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>tu_004</string>
		<key>face_name</key>
		<string>tu_004_cover</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>tu_005</string>
		<key>face_name</key>
		<string>tu_005_cover</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>tu_006</string>
		<key>face_name</key>
		<string>tu_006_cover</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>tu_007</string>
		<key>face_name</key>
		<string>tu_007_cover</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>tu_008</string>
		<key>face_name</key>
		<string>tu_008_cover</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>tu_009</string>
		<key>face_name</key>
		<string>tu_009_cover</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>tu_010</string>
		<key>face_name</key>
		<string>tu_010_cover</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>tu_011</string>
		<key>face_name</key>
		<string>tu_011_cover</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>tu_012</string>
		<key>face_name</key>
		<string>tu_012_cover</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>tu_013</string>
		<key>face_name</key>
		<string>tu_013_cover</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>tu_014</string>
		<key>face_name</key>
		<string>tu_014_cover</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>tu_015</string>
		<key>face_name</key>
		<string>tu_015_cover</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>tu_016</string>
		<key>face_name</key>
		<string>tu_016_cover</string>
	</dict>
</array>
</plist>
